html {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    scroll-padding-top: 5rem;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

body {
   margin: 0; 
}

header {
    display: flex;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 5rem;
    padding: 0px 20px;
    z-index: 2;
}

header h1 {
    font-family: 'Quicksand', sans-serif;
}

header ul {
    display: flex;
    list-style: none;
    column-gap: 30px;
}
header li {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color:rgb(230, 161, 76);
}

main {
    position: relative;
    top: 5rem;
    left: 0;
}

.mission {
    height: 600px;
    background-image: url('company_homepage_challenge/resources/images/background_banner.jpg');
    background-size: cover;
    background-position: 50% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission .content {
    width: 60%;
    min-height: 50%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(104, 104, 74, 0.908);
    padding: 0 5%;
    justify-content: center;
    border-radius: 10px;
}

.mission h2 {
    color: white;
    margin-top: 3rem;
    font-size: 3rem;
    font-style: italic;
}

.mission p {
    font-size: 1.125rem;
    text-align: justify;
    color: white;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 3rem;
}

.get-help {
    background-color: hsla(20,35%,90%,100%);
}

.get-help .content {
    width: 60%;
    display: flex;
    margin: 0 auto;
    padding: 5% 0;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    width: 100%;
    height: 50px;
}
form input, form button {
    box-sizing: border-box;
    height: 100%;

}

form input {
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
    padding: 20px;
    border: none;
    width: 90%;
    border-radius: 10px 0 0 10px;
    z-index: 1;
}

form button {
    width: 10%;
    border: none;
    display: flex;
    justify-content: center;
    border-radius: 0px 10px 10px 0;
    background-color: rgb(230, 161, 76);
    
}

form button:hover {
    background-color:rgb(187, 231, 115);
    cursor: pointer;
    color: white;
}

.services {
    background-color: rgb(0, 90, 48);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 0px 8% 0px;
}

.services h2, .services p, .services a {
    text-align: center;
}

.services h2 {
    color: white;
    margin-top: 0;
}

.services p {
    font-size: 1.25rem;
    margin: 20px 20px;
}
.services a {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;

}

.services a:hover {
    color:rgb(230, 161, 76);
}

.services .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
    width: 90%;
}

.services .service {
    width: 300px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
}
.services .image-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.services img {
    max-height: 100%;
}

.team {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: center;
    row-gap: 20px;
}

.team h2 {
    margin-top: 0px;
    width: 100%;
}

.team h3, .team p {
    text-align: center;
}

.team h3 {
    font-size: 1.25rem;
    margin-bottom: 0px;
}

.team p {
    margin-top: 4px;
}
.team .team-member {
    width: 400px;
}

.team .img-container {
    width: 400px;
    height: 500px;
    overflow: hidden;
}

.team img {
    width: 100%;
}

.team img.Lucia-img {
    height: 100%;
    width: auto;
    position: relative;
    right: 40%;
}

.contact {
    background-color:rgb(182, 214, 156);
    padding: 4% 2%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
}

.contact h2 {
    margin-top: 0px;
    width: 100%;
}

.contact .img-container {
    overflow: hidden;
    width: 600px;
    height: 400px;
}

.img-container img {
    width: 100%;
}

.contact .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact .address, .contact .hours, .contact .phone-email {
    width: 200px;
}
.contact ul {
    list-style-type: none;
    padding-left: 0px;
}

footer {
    position: relative;
    top: 5rem;
    padding: 10px;
    background-color:rgba(104, 104, 74, 0.908)
}

footer p {
    color: white;
}




